body {
  color: #1c1c1c;
  background-color: #f5f5f5;

  z-index: 1;
}

input {
  border: none;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Fotoğraf Seç";
  display: block;

  border: 1px solid #666;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;

  cursor: pointer;

  font-weight: 700;
  font-size: 12px;
}

.custom-file-input:hover::before {
  border-color: black;
}
